@import "tailwindcss";

@layer base {
  /* h1 {
    font-size: var(--text-4xl);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
  }
  h2 {
    font-size: var(--text-xl);
  } */
  a {
    @apply text-blue-500 visited:text-purple-600;
  }
  .inline-icon {
    @apply inline-block text-2xl;
  }
}
